<!DOCTYPE html>
<html>
<head><title>Gerenciador de Tarefas</title></head>
<body>
<h1>Suas Tarefas</h1>

<form action="/pages/tasks" method="POST">
    <input type="hidden" name="userId" value="<%= userId %>">
    Categoria: <input type="text" name="categoria" required>
    <button type="submit">Adicionar</button>
</form>

<ul>
    <% if (typeof categoria !== 'undefined') { %>
        <% categorias.forEach(t => { %>
            <li><%= t.descricao %></li>
        <% }); %>
    <% } %>
</ul>

</body>
</html>

